# Database (SQLite default for local dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# JWT Authentication Secret
JWT_SECRET="jampur-super-secret-jwt-key-2026-production-ready"

# Next.js Node Environment
NODE_ENV="production"
PORT=3000
